@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Font Classes */

.font-condensed {
  font-family: var(--font-bagoss-condensed);
}

.font-extended {
  font-family: var(--font-bagoss-extended);
}
 